[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
"gym[box2d]" = "*"
matplotlib = "*"
pybullet = "*"
torch = "*"

[dev-packages]
mypy = "*"
jupyter = "*"
pylint = "*"
black = "==20.8b1"

[requires]
python_version = "3.6"

[scripts]
reqs = "./scripts/generate_requirements.sh"
lint = "pylint ./policy_gradients"
typecheck = "mypy"
